.link:link,
.link:visited,
.link {
    text-decoration: none;
    color: var(--color-grey-light-1);
    transition: color .2s;
}


.link.active,
.link:hover {
    color: var(--color-primary)
}

.link:active {
    color: var(--color-primary-dark)
}