.upgrading-topic {
    font-size: 2.5rem;
}

.upgrading-list {
    counter-reset: item;
    margin-top: 2rem;
    font-size: 2rem;
    padding-left: 5rem;
}

.upgrading-list li:before { content: counters(item, ".") " | "; counter-increment: item }

/* .upgrading-list__sublist>li:before {
    content: counters(item, ".") " ";
    counter-increment: item
  } */

.upgrading-list>li {
    margin-bottom: 2rem;
    display: block;
}

.upgrading-list__sublist {
    counter-reset: item;
    margin-left: 5rem;
}

.upgrading-list__sublist>li {
    margin-top: 0.5rem;
    display: block;
}


/* logo */

.logo-container {
    text-align: center;
  }
  
.logo {
    height: 60vmin;
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
  
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }